@font-face {
    font-family: "Norse";
    src: url(/home/akhajuria/Downloads/Norse-Bold.otf);
}

:root {
    --beach-image: url(/home/akhajuria/Downloads/joel-vodell-8Ogfqvw15Rg-unsplash.jpg);
    --logo-size: 100px ;
    --left-side-width: 38vw;
    --right-side-right-margin: 50px;
}

.logo-area {
    font-family: "Norse", 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: calc(var(--logo-size) * 0.7);
    padding: 40px;
    color: white;
    width: var(--left-side-width);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 740px;
}

.odin-logo {
    width: var(--logo-size * 0.8);
    height: var(--logo-size);
}

body {
    display: flex;
    flex-direction: row;
    margin:0 ;
}

.left-side {
    display: flex;
    align-items: center;
    height: 100vh;
    width: var(--left-side-width);
    background-image: var(--beach-image);
    background-size: cover;
}

.beach-image {
    max-width: 100%;
    max-height: 100vh;
}

.right-side {
    flex: 1;
}

p.top-section {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    padding-left: var(--right-side-right-margin);
    padding-right: 120px;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 33vh;
    margin-top: 0;
}

.middle-section h1 {
    font-size: 23px;
}

.middle-section {
    padding-left: var(--right-side-right-margin);
}

.middle-section label {
        
}

.middle-section input {

}